@page "{id}"
@model ServiceHost.Pages.ArticleModel
@{
    ViewData["title"] = Model.article.Title;
    ViewData["Keywords"] = Model.article.Keywords;
    ViewData["MetaDescription"] = Model.article.MetaDescription;
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">@Model.article.Title</h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="./Index">صفحه اصلی</a>
                            </li>
                            <li>
                                <a asp-page="./ArticleCategory" asp-route-id="@Model.article.CategorySlug">@Model.article.Category</a>
                            </li>
                            <li class="active">@Model.article.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">

                            <div class="col-lg-9 order-1 order-lg-1">
                                <!--=======  blog page content  =======-->
                                <div class="blog-page-content">
                                    <!--=======  blog post container  =======-->

                                    <div class="blog-single-post-container">

                                        <!--=======  post title  =======-->


                                        <h2 class="post-title">@Model.article.Title</h2>

                                        <!--=======  End of post title  =======-->
                                        <!--=======  Post meta  =======-->
                                        <div class="post-meta">
                                            <p>
                                                <span>
                                                    <i class="fa fa-calendar"></i> نوشته شده در :
                                                    @Model.article.PublishDate
                                                </span>
                                            </p>
                                        </div>

                                        <!--=======  End of Post meta  =======-->
                                        <!--=======  Post media  =======-->

                                        <div class="single-blog-post-media">
                                            <div class="image">
                                                <img src="~/ArticlePictures/@Model.article.Picture" class="img-fluid" alt="@Model.article.PictureAlt" title="@Model.article.PictureTitle">
                                            </div>
                                        </div>

                                        <!--=======  End of Post media  =======-->
                                        <!--=======  Post content  =======-->

                                        <div class="post-content">
                                            @Html.Raw(Model.article.Description)
                                        </div>

                                        <!--=======  End of Post content  =======-->
                                        <!--=======  Tags area  =======-->

                                        <div class="tag-area">
                                            <span>کلمات کلیدی :</span>
                                            <ul>
                                                @foreach (var tag in Model.article.ArticleTags)
                                                {
                                                    <li><a asp-page="/SearchProduct" asp-route-value="@tag">@tag</a>,</li>
                                                }

                                            </ul>
                                        </div>

                                        <!--=======  End of Tags area  =======-->
                                        <!--=======  Share post area  =======-->

                                        <div class="social-share-buttons">
                                            <h3>این مقاله را به اشتراک بگذارید</h3>
                                            <ul>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="pinterest" href="#">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!--=======  End of blog post container  =======-->
                                </div>
                                <!--=============================================
                                =            Comment section         =
                                =============================================-->

                                <div class="comment-section">
                                    <h3 class="comment-counter">(@Model.article.Comments.Count()) کامنت</h3>

                                    <!--=======  comment container  =======-->

                                    <div class="comment-container">
                                        <!--=======  single comment  =======-->

                                        @foreach (var comment in Model.article.Comments)
                                        {

                                            <div class="single-comment @(comment.ParentId != 0 ? "reply-comment":"")">
                                                <span class="reply-btn">
                                                    @if(comment.ParentId == 0) 
                                                        {
                                                           <a href="#postcomment" onclick='$("#parentId").val(@comment.Id)'>جواب</a>
                                                        }
                                                </span>

                                                <div class="image">
                                                    <img src="~/UserTheme/assets/img/blog/comment-icon.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h3 class="user">
                                                        @comment.Name <span class="comment-time">
                                                            @comment.CommentDate
                                                        </span>
                                                    </h3>
                                                    <p class="comment-text">
                                                        @comment.Massege
                                                    </p>
                                                </div>
                                            </div>

                                        }

                                    </div>

                                    <!--=======  End of single comment  =======-->
                                    <!--=======  single reply comment  =======-->
                                    <!--=======  End of single comment  =======-->


                                </div>

                                <!--=======  End of comment container  =======-->
                                <!--=======  comment form container  =======-->

                                <div class="comment-form-container">
                                    <h3 class="comment-form-title" >نظر خود را با ما به اشتراک بگذارید</h3>
                                    <p>
                                        ایمیل شما برای جواب دادن تیم ماست و به نمایش گذاشته نمیشود
                                    </p>

                                    <!--=======  comment form  =======-->

                                    <div class="comment-form" id="postcomment">
                                        <form method="post">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label asp-for="Command.Message">متن کامنت <span class="required">*</span></label>
                                                        <textarea asp-for="Command.Message"
                                                                  id="commentMessage"></textarea>
                                                        <span asp-validation-for="Command.Message" class="error"></span>
                                                    </div>

                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label asp-for="Command.Name">اسم <span class="required">*</span></label>
                                                        <input type="text" asp-for="Command.Name">
                                                        <span asp-validation-for="Command.Name" class="error"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label asp-for="Command.Email">Email <span class="required">*</span></label>
                                                        <input type="text" asp-for="Command.Email">
                                                        <span asp-validation-for="Command.Email" class="error"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label asp-for="Command.WebSite">Website</label>
                                                        <input type="text" asp-for="Command.WebSite">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <button type="submit" class="comment-btn"
                                                            name="submit">
                                                        ارسال نظر
                                                    </button>
                                                </div>
                                                <input type="hidden" asp-for="Command.OwnerRecordId" value="@Model.article.Id" />
                                                <input type="hidden" name="slug" value="@Model.article.Slug" />
                                                <input type="hidden" asp-for="Command.ParentId" id="parentId" />

                                            </div>
                                        </form>
                                    </div>

                                    <!--=======  End of comment form  =======-->
                                </div>

                                <!--=======  End of comment form container  =======-->
                                <!--=====  End of Comment section  ======-->
                            </div>
                            <div class="col-lg-3 order-2 order-lg-2">
                                <!--=======  page sidebar wrapper =======-->
                                <div class="page-sidebar-wrapper">
                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">دسته بندی مقالات</h4>
                                        <ul class="single-sidebar-widget__category-list">
                                            <li class="has-children">
                                                @foreach (var category in Model.Categories)
                                                {
                                                    <a asp-page="/ArticleCategory" asp-route-id="@category.Slug">
                                                        @category.Name <span class="counter">@category.ArticleCount</span>
                                                    </a>
                                                }
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">آخرین مقالات</h4>
                                        <div class="block-container">
                                            @foreach (var article in Model.LatesetArticles)
                                            {
                                                <div class="single-block d-flex">
                                                    <div class="image">
                                                        <a asp-page="/Article" asp-route-id="@article.Slug">
                                                            <img src="~/ArticlePictures/@article.Picture"
                                                                 class="img-fluid" alt="@article.PictureAlt"
                                                                 title="@article.PictureTitle">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <p>
                                                            <a asp-page="/Article" asp-route-id="@article.Slug">
                                                                @article.Title
                                                            </a> <span>@article.PublishDate</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            }

                                            <!--=======  End of single block  =======-->
                                            <!--=======  single block  =======-->


                                        </div>

                                        <!--=======  End of block container  =======-->
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">
                                        <h3 class="single-sidebar-widget__title">تگ ها</h3>
                                        <ul class="single-sidebar-widget__tag-list">
                                            @foreach (var tag in Model.article.ArticleTags)
                                            {
                                                <li>
                                                    <a asp-page="/SearchProduct" asp-route-value="@tag">@tag</a>
                                                </li>

                                            }

                                        </ul>
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
                                </div>
                                <!--=======  End of page sidebar wrapper  =======-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!--=======  End of page wrapper  =======-->
        </div>
    </div>
</div>
@section Validation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

}