<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ViewData["title"] != null)
    {
        <title>@ViewData["title"] | ماهینا بوتیک </title>

    }
    else
    {
        <title> ماهینا بوتیک </title>
    }

    <meta name="keywords" content="@ViewData["Keywords"]"/>
    <meta name="description" content="@ViewData["MetaDescription"]"/>
    <!-- Vendor CSS -->
    <link href="~/UserTheme/assets/css/vendors.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="~/UserTheme/assets/css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/UserTheme/assets/css/Custom.css" rel="stylesheet">
</head>

<body>
   

    @await Component.InvokeAsync("Menu")
    <!--====================  End of header area  ====================-->

    @RenderBody()

    <!--====================  footer area ====================-->
    @await Component.InvokeAsync("Footer")
    <!--====================  End of footer area  ====================-->



    <div class="search-overlay" id="search-overlay">
        <a href="javascript:void(0)" class="close-search-overlay" id="close-search-overlay">
            <i class="ion-ios-close-empty"></i>
        </a>

        <!--=======  search form  =======-->

        <div class="search-form">
            <form method="get" asp-page="/SearchProduct">
                <input type="search" name="value" id="value" placeholder="جستجو در سایت . . .">
                <button type="submit">
                    <i class="ion-android-search"></i>
                </button>
            </form>
        </div>

        <!--=======  End of search form  =======-->
    </div>


    <!-- scroll to top  -->
    <div id="scroll-top">
        <span>برو بالا</span><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i>
    </div>
    <!-- end of scroll to top -->
    <!-- Vendor JS -->
    <script src="~/UserTheme/assets/js/vendors.js"></script>

    <!-- Active JS -->
    <script src="~/UserTheme/assets/js/active.js"></script>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/UserTheme/assets/js/plugins.js"></script>
    <script src="~/UserTheme/assets/js/Custom.js"></script>

    @RenderSection("Validation", false)
    <script>
        $(document).ready(function () {
            UpdateCart();
        });
    </script>

</body>

</html>